/*Positionnement*/body, nav, main, header {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 0.4rem;
    padding: 0.35rem;
}
 
header {
    flex-basis: 100%;
}


/*Style*/

h1 {
    color: rgb(0, 146, 0);
    font-size: 4em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body {
    background-image: url(img/Sans_titre.png);
}

h1{
    font-size: 10em;
}