/*Positionnement*/
body, nav, main, header {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;
    text-align: center; 
}

h1 {
    margin: 0.4rem;
    padding: 0.35rem;
    flex-basis: 78%;
}
 
header > a > img {
    width: 6vw;
}

header > img {
    width: 8vw;
}

nav, footer, ul, li, header {
    flex-basis: 100%;
}

p {
    text-align: justify;
}

/*Style*/

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: sans-serif;
}

h1 {
    color: rgb(0, 146, 0);
    font-size: 4em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: rgb(0, 146, 0);
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border: black bold solid;
    transition-duration: 0.4s;
    background-color: rgb(151, 151, 151);
    border-radius: 20px;
}

button:hover {
    background-color: red;
}

a:hover {
    color: white;
}

body {
    background-image: url(img/font.webp);
}

main, footer, header {
    background-color: rgb(195, 189, 189);
    flex-basis: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

main p {
    font-size: 1.5em;
}

p > a {
    font-size: 2em;
    color: rgb(194, 14, 14);
}

span {
    color: rgb(195, 189, 189);
    text-align: left;
}